# SPDX-FileCopyrightText: © 2017 Version Control System Fund
# SPDX-FileCopyrightText: © 2025 Stefan Siegel <ssiegel@sdas.net>
#
# SPDX-License-Identifier: MIT

# Created by https://www.toptal.com/developers/gitignore/api/platformio
# Edit at https://www.toptal.com/developers/gitignore?templates=platformio

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

# End of https://www.toptal.com/developers/gitignore/api/platformio
